<ion-content padding>
  <ion-item padding-bottom>
    <ion-label floating>Jahr</ion-label>
    <ion-select (ionChange)="onYearSelectChange($event)">
      <ion-option
        *ngFor="let year of years; let i = index;"
        value="{{year}}"
        [selected]="i === 0">{{year}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item padding-bottom>
    <ion-label floating>Diagramm</ion-label>
    <ion-select (ionChange)="onGraphTypeSelectChange($event)">
      <ion-option value="bar" [selected]="true">Jahresverlauf (Balken)</ion-option>
      <ion-option value="line">Jahresverlauf (Linie)</ion-option>
      <ion-option value="doughnut">Anteilig (Kreis)</ion-option>
    </ion-select>
  </ion-item>


  <div [ngSwitch]="graphType">
    <div *ngSwitchCase="'line'">
      <ion-item padding-bottom>
        <ion-label floating>Kategorie</ion-label>
        <ion-select (ionChange)="onExpenseTypeSelectChange($event)">
          <ion-option
            value="Alle"
            [selected]="true">Alle</ion-option>

          <ion-option
            *ngFor="let expenseType of expenseTypes; let i = index;"
            value="{{expenseType}}">{{expenseType}}</ion-option>
        </ion-select>
      </ion-item>

      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="months"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType">
      </canvas>

      <p>Gesamte Ausgaben: {{totalAmount}} €</p>
    </div>


    <div *ngSwitchCase="'doughnut'">
      <div style="display: block">
        <canvas baseChart width="400" height="400"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
        </canvas>
        <p>Gesamte Ausgaben: {{totalAmount}} €</p>
      </div>
    </div>


    <div *ngSwitchCase="'bar'">
      <div style="display: block">
        <canvas baseChart width="400" height="400"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [chartType]="barChartType">
        </canvas>
        <p>Gesamte Ausgaben: {{totalAmount}} €</p>
      </div>
    </div>
  </div>
</ion-content>
