<ion-content>
  <ion-list>
    <ion-item *ngFor="let vehicle of vehicles$ | async; trackBy:getVehicleId" (click)="onVehicleBuildTap(vehicle)">
      <ion-avatar item-left>
        <img src="{{getVehicleImage(vehicle)}}">
      </ion-avatar>
      <h2>{{vehicle.make}} {{vehicle.model}}</h2>
      <p *ngIf="vehicle.mileage">Kilometerstand: {{vehicle.mileage}}</p>
      <button item-right icon-only ion-button clear (click)="onVehicleDateTap($event, vehicle)" *ngIf="hasVehicleDates(vehicle)">
        <ion-icon name="calendar" [isActive]="!!hasVehicleDateToday(vehicle)"></ion-icon>
      </button>

      <button item-right icon-only ion-button clear (click)="onVehicleStatsTap($event, vehicle)" *ngIf="hasVehicleStats(vehicle)">
        <ion-icon name="ion-stats-bars"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
      <button ion-fab mini (click)="addVehicle()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
