<ion-content>
  <div *ngIf="showDateEdit">
    <ion-list>
      <ion-item>
        <ion-label floating>Aktion</ion-label>
        <ion-input type="text" [(ngModel)]="vehicleDate.action"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Ort</ion-label>
        <ion-input type="text" [(ngModel)]="vehicleDate.location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{addDateText}}</ion-label>
        <button ion-button icon-only item-right clear (tap)="onNewDatePickerTap()">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label>Erinnerung</ion-label>
        <ion-checkbox [(ngModel)]="vehicleDate.notifiy"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Kalendereintrag</ion-label>
        <ion-checkbox [(ngModel)]="vehicleDate.calendar"></ion-checkbox>
      </ion-item>

      <ion-item>
        <button ion-button small (tap)="onNewDateTap()">Termin hinzufügen</button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!showDateEdit">
    <div padding>
      <ion-segment [(ngModel)]="dateSwitch">
        <ion-segment-button value="past">
          Vergangene
        </ion-segment-button>
        <ion-segment-button value="future">
          Kommende
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="dateSwitch">
      <ion-list *ngSwitchCase="'past'">
        <div class="no-records-wrapper" *ngIf="(vehicleDatesPast$ | async)?.length==0">
          <div class="no-records">
            Keine vergangenen Termine vorhanden.
          </div>
        </div>
        <ion-item *ngFor="let vehicleDate of vehicleDatesPast$ | async">
          {{formatGermanDate(vehicleDate.date, true)}} {{vehicleDate.action}}
          <button ion-button item-right icon-only color="danger" clear (tap)="onDateDeleteTap(vehicleDate)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'future'">
        <div class="no-records-wrapper" *ngIf="(vehicleDatesFuture$ | async)?.length==0">
          <div class="no-records">
            Keine kommenden Termine vorhanden. Legen Sie neue Termine über den "+" Button an.
          </div>
        </div>

        <ion-item *ngFor="let vehicleDate of vehicleDatesFuture$ | async">
          {{formatGermanDate(vehicleDate.date, true)}} {{vehicleDate.action}}
          <button ion-button item-right icon-only color="danger" clear (tap)="onDateDeleteTap(vehicleDate)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </div>


    <ion-fab bottom right>
      <button ion-fab mini (click)="onDateAddTap()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
