<ion-item>
    <button ion-button (tap)="onExpenseAddTap()">
        <ion-icon item-left name="add"></ion-icon>
        Ausgabe erstellen
    </button>
</ion-item>

<div *ngIf="showExpenseEdit">
  <ion-item padding-bottom>
    <p>Bitte wählen Sie den Typ der Ausgabe aus</p>
    <ion-label floating>Ausgabentyp</ion-label>
    <ion-select (ionChange)="onExpenseFormSelectChange($event)">
      <ion-option *ngFor="let expenseType of expenseTypes" value="{{expenseType}}">{{expenseType}}</ion-option>
    </ion-select>
  </ion-item>
</div>

<router-outlet name="expenseform"></router-outlet>

<ion-list>
  <ion-item *ngFor="let expense of expenses$ | async">
    <h2>{{expense.type}}</h2>
    <h3>{{formatGermanDate(expense.date)}}</h3>
    <p>{{expense.amount}}</p>
    <button ion-button item-right icon-only color="danger" clear (tap)="onExpenseDeleteTap(expense)">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-item>
</ion-list>
