<ion-item>
    <button ion-button (tap)="onFuelEventAddTap()">
        <ion-icon item-left name="add"></ion-icon>
        Tankvorgang erstellen
    </button>
</ion-item>

<div *ngIf="showFuelEventEdit">
    <ion-list>
        <ion-item>
            <ion-label floating>Aktion</ion-label>
            <ion-input type="text" [(ngModel)]="fuelEvent.action"></ion-input>
        </ion-item>

        <ion-item>
            
            <button ion-button icon-only item-right clear (tap)="onNewFuelEventDatePickerTap()">
                <ion-icon name="calendar"></ion-icon>
            </button>

            
        </ion-item>

        <ion-item>
            <button ion-button small (tap)="onNewFuelEventTap()">Tankvorgang hinzufügen</button>
            
        </ion-item>
    </ion-list>
</div>

<ion-list>
  <ion-item *ngFor="let fuelEvent of fuelEvents$ | async">
    {{formatGermanDate(fuelEvent.date)}} {{fuelEvent.spending}}
    <button ion-button item-right icon-only color="danger" clear (tap)="onFuelEventDeleteTap(vehicleDate)"><ion-icon name="close"></ion-icon></button>
  </ion-item>
</ion-list>